html, body {
    margin: 0;
}

.container{
   height: 100vh;
   max-width: 90%;
   margin: 0 auto;
   min-width: 800px;
   max-width: 1000px
}

/*header styling */
header{
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
    min-width: 50%;
}

.color-selector{
    width: 75px;
    border-radius: 5px;
    height: 42px;
    border: lightgrey solid 2px;
}

.scheme-selector{
    width: 200px;
    border-radius: 5px;
    width: 400px;
    height: 42px;
    border: lightgrey solid 2px;
}

.button{
    background-color: whitesmoke;
    padding: 10px;
    width: 180px;
    height: 42px;
    border-radius: 5px;
    border: lightgrey solid 2px;
}


/*colour display styling*/

.colours-container{
    display: flex;
    height: 80%;
    margin: 20px 5px;
    max-height: 80%;
    margin: 0;
}

.colour{
   width: 20%;
   height: 100%;
}


.hex-codes{
    display: flex;
    justify-content: space-between;
    padding: 0px 65px;
}
    


